{% extends 'fichas/home.html' %}
{% block content %}
  <h1>Monstros</h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Tipo</th>
        <th>Fonte</th>
      </tr>
    </thead>
    <tbody>
      {% for m in monstros %}
        <tr>
          <td><a href="{% url 'fichas:monstro_detail' m.pk %}">{{ m.nome }}</a></td>
          <td>{{ m.tipo }}</td>
          <td>{{ m.source }}</td>
        </tr>
      {% empty %}
        <tr><td colspan="3">Nenhum monstro encontrado.</td></tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
